<a class="researcher-item" href="{{ person.url }}">
    <div class="item--person">
        {% if person.image %}
            <img src="{{ person.image.src }}">
        {% else %}
            <img src="{{ base_path ~ directory }}/src/images/placeholders/person_placeholder.png" title="person" class="h-50 w-50 rounded-full mr-2" />
        {% endif %}
        <div class="info-wrapper">
            <h6 class="res-name">{{ person.title }}</h6>
            {% if person.function %}
                <p class="res-function">{{ person.function }}</p>
            {% endif %}
        </div>
    </div>
	{% if person.description %}
		<p class="item--text">{{ person.description }}</p>
	{% endif %}
</a>
